<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>天天社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">

<!--    <script src="/js/bootstrap.min.js" type="application/javascript"></script>-->
    <!-- Bootstrap -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->

<!--    &lt;!&ndash; jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) &ndash;&gt;-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script>
        window.onload = function () {
            var closable = window.localStorage.getItem("closable");
            if(closable == "true"){
                window.close();
                window.localStorage.removeItem("closable");
            }
        }




    </script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <ul class="nav nav-tabs">
                <li role="presentation" th:each="section:${sectionList}"
                    th:class="${section.id == sectionId ? 'active':''}">
                    <a th:href="@{/(sectionId=${section.id})}" th:text="${section.name}"></a>
                </li>
                <li>
                    <!--添加版块-->
                    <li style="font-size: smaller" th:if="${session.user != null && session.user.state == 2}">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 style="text-align: center" class="modal-title" id="myModalLabel">添加版块</h4>
                                    </div>
                                    <form class="form-horizontal" action="/addSection" method="post">
                                        <input type="hidden" name="id" th:value="${session.user == null?null:session.user.id}">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="name" style="font-size: medium;" class="col-sm-2 control-label">版块名称:</label>
                                                <div class="col-sm-10" style="width: 30%">
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">提交更改</button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </li>
                    <!--编辑版块-->
                    <li style="font-size: smaller" th:if="${session.user != null && session.user.state == 2}">
                        <a href="#" >
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal1"></span>
                        </a>
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 style="text-align: center" class="modal-title" id="myModal1Label">修改版块</h4>
                                    </div>
                                    <form class="form-horizontal" action="/editSection" method="post">
                                        <div class="modal-body">
                                            <div class="form-group form-inline" >
                                                <label for="sectionId" style="font-size: medium;margin-left: 5%">
                                                    需要修改的版块名称:
                                                </label>
                                                <select class="form-control" id="sectionId" th:name="sectionId" style="width: 30%;margin-left: 5%">
                                                    <option th:each="section:${sectionList}" th:value="${section.id}" th:text="${section.name}"
                                                            th:selected="${section.id} == ${sectionId}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" style="font-size: medium;margin-left: 2.5%" class="col-sm-2 control-label">版块名称:</label>
                                                <div class="col-sm-10" style="width: 30%">
                                                    <input type="text" class="form-control" placeholder="修改为..." name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">提交更改</button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </li>
                    <!--删除版块-->
                    <li style="font-size: smaller" th:if="${session.user != null && session.user.state == 2}">
                        <a href="#">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="modal" data-target="#myModal2"></span>
                        </a>
                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 style="text-align: center" class="modal-title" id="myModal2Label">删除版块</h4>
                                    </div>
                                    <form class="form-horizontal" action="/deleteSection" method="post">
                                        <div class="modal-body">
                                            <div class="form-group form-inline" >
                                                <label for="sectionId" style="font-size: medium;margin-left: 5%">
                                                    需要修改的版块名称:
                                                </label>
                                                <select class="form-control" th:name="sectionId" style="width: 30%;margin-left: 5%">
                                                    <option th:each="section:${sectionList}" th:value="${section.id}" th:text="${section.name}"
                                                            th:selected="${section.id} == ${sectionId}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">提交更改</button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </li>
                </li>
            </ul>

            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${question.user.name}"></span> •
                        <span th:text="${question.commentCount}"></span> 个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                        <span th:if="${session.user != null && session.user.state == 2}" id="deleteQuestion">
                            •
                            <a th:href="@{'/deleteOtherQuestion/' + ${question.id}}" class="community-menu">
                                <span class="glyphicon glyphicon-remove-circle"  aria-hidden="true">删除</span>
                            </a>
                        </span>

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search},sectionId=${sectionId})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search=${search},sectionId=${sectionId})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page:${pagination.pages}"  th:class="${pagination.page == page}?'active':''" >
                        <a th:href="@{/(page=${page},search=${search},sectionId=${sectionId})}"  th:text="${page}"></a></li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},search=${search},sectionId=${sectionId})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search},sectionId=${sectionId})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>

<script>
    $(function () {
        $("#deleteQuestion").click(function (t) {
            alert("删除成功！")
        })
    })
</script>