<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdju.soft.community.mapper.SectionExtMapper">
    <resultMap id="BaseResultMap" type="cn.edu.sdju.soft.community.model.Section">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate" />
        <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified" />
        <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    </resultMap>

    <select id="findAllSections" parameterType="cn.edu.sdju.soft.community.model.Section" resultMap="BaseResultMap">
        select * from SECTION
    </select>

    <insert id="addSection" parameterType="cn.edu.sdju.soft.community.model.Section">
        insert into SECTION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gmtCreate != null">
                GMT_CREATE,
            </if>
            <if test="gmtModified != null">
                GMT_MODIFIED,
            </if>
            <if test="creator != null">
                creator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="editSection" parameterType="cn.edu.sdju.soft.community.model.Section">
        update section
        set name = #{name},GMT_MODIFIED = #{gmtModified}
        where id = #{id}
    </update>

    <delete id="deleteSection" parameterType="cn.edu.sdju.soft.community.model.Section">
        delete from section
        where id = #{sectionId}
    </delete>

    <select id="checkSection" parameterType="cn.edu.sdju.soft.community.model.Section" resultMap="BaseResultMap">
        select *
        from section
        where name = #{name}
    </select>

    <select id="checkEditSectionById" parameterType="cn.edu.sdju.soft.community.model.Section" resultMap="BaseResultMap">
        select *
        from section
        where id = #{id}
    </select>

</mapper>